body {
  text-align: center;
  background-color: lightsteelblue;
}

h1 {
  color: darkslategrey;
}

h2 {
  color: darkolivegreen;
}

h3 {
  background-color: lightgoldenrodyellow;
  color: darkslateblue;
  border: 2px darkslateblue solid;
}

.column p {
  width: 75%;
  color: lightgoldenrodyellow;
}

.column h4 {
  font-family: serif;
  color: lightgoldenrodyellow;
  text-align: center;
}

.column {
  float: left;
  width: 28%;
  background-color: darkolivegreen;
  border: 5px darkslategray solid;
  margin: 20px;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .column {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    float: none;
    width: 75%;
  }
}